<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>FINKI Маратони</title>

</head>
<body>
<div layout:fragment="content">
    <div class="container mt-4">
        <h1>Систем за Маратони</h1>
        <p>Ако по најавата, не ја гледате страната која иницијално ја пристапивте, пристапете на линкот одново. </p>

        <p>Ова е ситем кој е со отворен код и се развива во рамки на предметот Веб Програмирање под водство на вон.
            проф. д-р Ристе Стојанов. Изворниот код на системот е достапен
            <a href="https://gitlab.finki.ukim.mk/wp/raspredelba" target="_blank"><b>овде</b></a>.
            За пријавувње на багови и предлог на нови функцоналности, може да се креира задача преку следниот
            <a href="https://gitlab.finki.ukim.mk/wp/raspredelba/-/boards"
               target="_blank"><b>линк</b></a>.
        </p>
    </div>

</div>
</body>
</html>
